main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1rem;
}

.description-field {
    width: 50%;
    padding: 1rem;
}

.inputFile {
    width: 50%;
    min-height: 600px;
}

input {
    width: 100%;
}

#buttonPost {
    width: 15rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-radius: .5rem;
    transition: background-color .5s ease, color .5s ease;
}

#buttonPost:hover {
    background-color: #f70;
    color: #000;
}
.container-btnPost {
    width: 100%;
    text-align: center;
}