<main>
  <div class="titleImg-hero">
    <img src="/heroSection-imgs/Mercedes.jpg" alt="Jetta-img" />
  </div>

  <div class="container-NewsImgs">
    <h1>News & reviews</h1>

    <section>
      <img src="/heroSection-imgs/Jetta.jpg" alt="Jetta-img" />
      <img src="/heroSection-imgs/Golf GTI.jpg" alt="Golf GTI" />
      <img src="/heroSection-imgs/Corolla.jpg" alt="Corolla" />
      <img src="/heroSection-imgs/Mercedes.jpg" alt="Mercedes" />
    </section>
  </div>

  <section class="cta-section">
    <div class="cta-phs">
      <p>
        Exclusive Deals. Private Auctions. Real Offers. Here, the cars come to
        you — but only if you act fast. Explore listings, make your offer, and
        drive away with the best deal.
      </p>
      <p>
        🏁 Only logged-in users can place bids. Log in and start competing now!
      </p>
    </div>

    <div class="cta-btns">
      <button [routerLink]="'/login'">Login</button>
      <button [routerLink]="'/register'" >Signup</button>
    </div>
  </section>
</main>

<!--ESTILIZAR COMPONENTE FEATURE-->
