.container-card {
  width: 100%;
  margin-bottom: 1.5rem;
  border: 2px solid rgb(0, 166, 255);
  border-radius: 1rem;
}

.card-car {
  width: 70%;

  padding: 0.5rem;

  //tentando centralizar os campos ( fica melhor? )
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description-car {
  font-size: 1.2rem;
}

.description-car h5 {
  font-size: 1rem;
}
