.container-card {
  display: flex; //ver a questão de imagens
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.cardCar {
  border: 1px solid #000;
  border-radius: 0.5rem;
  height: 100%;
  width: 300px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.container-img {
  border: 2px solid #000;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #000;
}

.container-img img {
  width: 100%;
  height: auto;
  object-fit: cover; /* ou 'contain' dependendo do efeito desejado */
  border-radius: 1rem;
}

// DESCRICAO DO CARRO

.description-car {
  text-align: center;
  padding: 0.5rem;
}

.description-car button {
  background-color: #1d1919;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.5s ease, background-color 0.5s;
  font-weight: bold;
  color: #fff;
}

.description-car button:hover {
  transform: scale(1.1);
  background-color: #f60;
}
