<header>
  <h1>PrimeAuto</h1>

  <nav *ngIf="!getRole()">
    <button [routerLink]="'/register'" routerLinkActive="active">
      Register
    </button>
    <button [routerLink]="'/login'" routerLinkActive="active">Login</button>
  </nav>

  <div *ngIf="getRole() === 'ADMIN'" class="nav-admin">
    <button [routerLink]="'/admin/dashboard'" routerLinkActive="active">
      Dashboard
    </button>
    <button [routerLink]="'/admin/bookings'" routerLinkActive="active">
      Bookings
    </button>
    <button [routerLink]="'/admin/search'" routerLinkActive="active">
      Search Car
    </button>
    <button
      [routerLink]="'/login'"
      (click)="logout()"
      routerLinkActive="active"
    >
      Logout
    </button>
  </div>

  <div *ngIf="getRole() === 'CUSTOMER'" class="nav-customer">
    <button [routerLink]="'/customer/dashboard'" routerLinkActive="active">
      Dashboard
    </button>
    <button [routerLink]="'/customer/my-cars'" routerLinkActive="active">
      My Cars
    </button>
    <button [routerLink]="'/customer/my-bids'" routerLinkActive="active">
      My Bids
    </button>
    <button [routerLink]="'/customer/search-car'" routerLinkActive="active">
      Search Car
    </button>
    <button [routerLink]="'/customer/post-car'" routerLinkActive="active">
      Post Car
    </button>
    <button
      [routerLink]="'/login'"
      (click)="logout()"
      routerLinkActive="active"
    >
      Logout
    </button>
  </div>
</header>

<main>
  <div style="text-align: center">
    <h1>ULTIMAS NOVIDADES</h1>
  </div>

  <section class="container-images">
    <div class="card-imageHome">
      <div class="imageCard">
        <img src="/home-images/Hyundai Creta.jpg" alt="Hyundai-creta image" />
      </div>
      <h1>Hyundai Creta</h1>
    </div>

    <div class="card-imageHome">
        <div class="imageCard">
            <img src="/home-images/Opel Omega.jpg" alt="Opel Omega" />
        </div>
      <h1>Opel Omega</h1>
    </div>

    <div class="card-imageHome">
        <div class="imageCard">
            <img src="/home-images/Onix.jpg" alt="Onix.jpg" />
        </div>
      <h1>Onix</h1>
    </div>
  </section>

  <div style="text-align: center;" id="container-homeBtn">
    <h3>Veja todas as novidades</h3>
  </div>
</main>

<!-- será adicionado quando a pagina principal for estilizada
 <footer>
    © 2025 | Car Marketplace - Desenvolvido por <span>João Gabriel</span>
 </footer>
 -->

<router-outlet></router-outlet>
