

<main>
  <div class="title-main" style="text-align: center">
    <h1>ULTIMAS NOVIDADES</h1>
  </div>

  <section class="container-images">
    <div class="card-imageHome">
      <div class="imageCard">
        <img src="/home-images/Hyundai Creta.jpg" alt="Hyundai-creta image" />
      </div>
      <h1>Hyundai Creta</h1>
    </div>

    <div class="card-imageHome">
        <div class="imageCard">
            <img src="/home-images/Opel Omega.jpg" alt="Opel Omega" />
        </div>
      <h1>Opel Omega</h1>
    </div>

    <div class="card-imageHome">
        <div class="imageCard">
            <img src="/home-images/Onix.jpg" alt="Onix.jpg" />
        </div>
      <h1>Onix</h1>
    </div>
  </section>

  <div [routerLink]="'/features'" style="text-align: center;" id="container-homeBtn">
    <h3>Veja todas as novidades</h3>
  </div>
</main>
